* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background-color: #292929;
  color: #fff;
  display: flex;
  font-size: xx-large;
  font-weight: 600;
  justify-content: center;
  padding: 1rem;
}
section {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.accordion {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.accordion-item {
  list-style-type: none;
  margin-bottom: 0.4rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
}

.accordion-content {
  height: 0;
  overflow: hidden;
}
.active {
  padding: 1rem;
  height: auto;
  overflow: auto;
}

img {
  border-radius: 100%;
  transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
}
img:hover {
  background-color: rgb(100, 100, 100);
}
.rotateIcon {
  transform: rotate(180deg);
}
